{% extends 'ideas/base.html' %}

{% block title %}아이디어 목록{% endblock %}

{% block content %}
<h1>아이디어 목록</h1>

<!-- 사용자가 클릭하면 GET 방식으로 URL에 ?sort=~~ 파라미터가 붙음 -->
<p>
    <a href="?sort=stars">찜하기순</a>
    <a href="?sort=name">이름순</a>
    <a href="?sort=oldest">등록순</a>
    <a href="?sort=latest">최신순</a>
</p>

{% for idea in ideas %}
<div style="margin-bottom: 20px;">
    <!--제목 클릭하면 다른 페이지로 연결-->
    <a href="{% url 'ideas:idea_detail' idea.id %}">{{ idea.title }}</a><br>
    <!--찜 버튼-->
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'ideas:toggle_star' idea.id %}">
        {% csrf_token %}
        {% if idea.id in star_dict %}
            <button type="submit">찜 취소</button>
        {% else %}
            <button type="submit">찜하기</button>
        {% endif %}
    </form>
    {% endif %}
    <!--썸네일 이미지 추가-->
    <img src="{{ idea.image.url }}" width="200"><br>

    <p>관심도: {{ idea.interest }}
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'ideas:adjust_interest' idea.id %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" name="action" value="increase">+</button>
            <button type="submit" name="action" value="decrease">-</button>
        </form>
        {% endif %}
    </p>


    <p>개발툴: {{ idea.devtool.name }}</p>
    
</div>
{% empty %}
    <p>등록된 아이디어가 없습니다.</p>
{% endfor %}
{% endblock %}