<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 작성</title>
    <link rel="stylesheet" href="{% static 'reviews/style.css' %}">
</head>
<body>
    <h1><a href="{% url 'review_list' %}">my<span>Movie</span>reviews</a></h1>

    <div class="form-container">
        <h1>🍿새 리뷰 작성🍿</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-buttons">
                <button type="submit">저장</button>
                <a href="{% url 'review_list' %}">목록으로 돌아가기</a>
            </div>
        </form>
    </div>
</body>
</html>